# See https://help.github.com/ignore-files/ for more about ignoring files.

.DS_Store

# Python cache
.mypy_cache
*__pycache__*
*.egg-info
*.pyc
*.pytest_cache
*.ruff_cache
*.cache*
*.config*

# Machine specific
.idea
.vscode
*.code-workspace


certs/

# ignore storage dir
/storage
.images
/qdrant_storage
logs

# ignore wip dir
wip

# ignore dist dir
dist

# ignore virtualenvs
.venv*
.perfenv*
.demoenv*
venv*
agnoenv*
aienv*
phienv*
set-env.ps1
.ecogym

# ignore tmp dirs
scratch
junk
tmp
agents.db
data.db
.ipynb_checkpoints
build
audio_generations

*.db

# Google OAuth token
token.json

.composio.lock

# Coverage
coverage_report
.coverage

# JSON files used as testing DB
agno_json_data/

# AI
.claude/
.cursor/

# ignore pyrightconfig.json
pyrightconfig.json
workflow/base_task.py
workflow/environment.md
workflow/environment_test.py
workflow/run_stimulation.py
workflow/vending_bench_task.py
workflow/workflow_launcher.py
*.bin
*.sqlite3

chromadb_vending_bench
*.out

# data
data/raw_data
data/raw_data_format_converted
data/tmp_data
!data/tasks.jsonl

/cookbook
/Ellipsis
/chroma_*
/chromadb_*
/vis_logs
/visualize

# game sessions
frontend/game_sessions/